<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layouts/header :: head('Hello, Spring Boot')}"> </head>

  <body>
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary"
      th:replace="~{layouts/header :: menu('home')}"
    >      
    </nav>
    <main role="main" class="container">
      <div class="starter-template">
        <h1>Spring Boot Tutorial</h1>
        <p class="lead">
          Spring Boot을 이용해 웹페이지 제작<br />
          Spring Security, Jpa를 이용해 보안 설정과 데이터 다루기
        </p>
      </div>
    </main>
  </body>
</html>
